@supports (grid-area: auto) {
    @media screen and (min-width: 60em) {
        .site {
            max-width: none;
            display: grid;
            grid-template-columns: 15em auto;
            grid-gap: 1em;
        }
        .header {
            grid-column: 1/4;
        }
        .home-intro {
            margin: -1em;
            grid-column: 1/4;
        }
        .footer-text {
            padding-top: -60px;
        }
        .footer-list {
            margin-right: 30px;
            margin-top: -10px;
        }
        .colophon {
            grid-column: 1/4;
            grid-row: 9;
            /* margin-top: 1em; */
        }
        .profile {
            width: 310px;
            height: auto;
            grid-column: 1/3;
            grid-row: 3/4;
            padding-top: 2em;
        }
        .content {
            padding-top: 2em;
            padding-left: 20px;
            grid-column: 2/4;
            grid-row: 3/4;
            padding-right: 150px;
        }
        .buckets {
            padding-top: 2em;
        }
        .buckets ul {
            display: flex;
            justify-content: space-around;
        }
        .buckets li {
            width: 40%;
            /* margin-right: 150px; */
            margin-right: 50px;
            margin-left: 50px;
        }
        .bucket {
            margin-right: -50px;
            margin-left: -50px;
        }
        .adblockpng {
            padding-top: 270px;
            grid-column: 1;
            grid-row: 6;
            width: 260px;
            margin-left: -30px;
        }
        .blocked_message {
            grid-column: 1;
            grid-row: 6;
            width: 260px;
            margin-left: 0em;
            margin-left: -30px;
        }
        .blocked {
            margin-top: 35px;
            margin-left: 30px;
            grid-column: 1;
            grid-row: 6;
            width: 350px;
        }
        .adbcontent {
            padding-top: 30px;
            margin-left: 50px;
            margin-right: 50px;
            grid-column: 2;
            grid-row: 6;
        }
        .game {
            margin-left: 40px;
            grid-column: 1;
            grid-row: 7;
        }
        .game_content {
            padding-top: 90px;
            margin-left: 170px;
            margin-right: 100px;
            grid-column: 2/4;
            grid-row: 7;
        }
        .add-padding {
            margin-top: 20px;
        }
        .skill-padding {
            margin-top: 110px;
        }
        .todo-list {
            width: 430px;
            grid-column: 3;
            grid-row: 8;
            margin-left: -200px;
            margin-right: 15em;
        }
        .todo_content {
            padding-top: 90px;
            grid-column: 1/2;
            grid-row: 8;
            margin-right: 250px;
            margin-left: 50px;
        }
    }
    .site {
        grid-template-columns: 350px auto 15em;
        grid-template-rows: auto auto auto;
        grid-gap: 1em;
    }
    .header {
        grid-column: 1/4;
        grid-row: 1;
    }
    .colophon {
        padding-top: 1em;
        padding-bottom: 1em;
        grid-column: 1/4;
        grid-row: 9;
    }
    .footer-list {
        margin-right: 30px;
        margin-bottom: 30px;
        margin-bottom: 30px;
    }
    /* ABOUT ME PAGE */
    .home-intro {
        grid-column: 1/4;
        padding: 30vh 5em;
    }
    .profile {
        width: 310px;
        height: auto;
        grid-column: 1/3;
        grid-row: 2;
    }
    .content {
        grid-column: 2/4;
        grid-row: 2;
    }
    .buckets {
        grid-column: 1/4;
        grid-row: 3;
    }
    /* PROJECTS PAGE */
    /* AdBlocker */
    .myprojects {
        grid-column: 1/4;
        grid-row: 4;
    }
    .projcontent {
        grid-column: 1/4;
        grid-row: 5;
    }
    .adblockpng {
        /* padding-top: 250px; */
        grid-column: 3;
        grid-row: 6;
    }
    .blocked_message {
        grid-column: 3;
        grid-row: 6;
    }
    .blocked {
        grid-column: 1;
        grid-row: 6;
    }
    .adbcontent {
        grid-column: 2/3;
        grid-row: 6;
    }
    /* Snake Game */
    .game {
        padding-left: 10px;
        grid-column: 1;
        grid-row: 7;
    }
    .inline {
        display: inline-block;
    }
    .game_content {
        grid-column: 2/4;
        grid-row: 7;
    }
    /* ToDo List */
    .todo-list {
        width: 435px;
        padding-left: none;
        grid-column: 3;
        grid-row: 8;
        /* padding-right: 300px; */
    }
    .todo_content {
        grid-column: 1/3;
        /* margin-left: 0em; */
        grid-row: 8;
    }
    /* CV PAGE */
    .headerpic {
        grid-column: 1/4;
        padding: -10vh 0em;
        height: 115px;
        overflow: hidden;
        margin-top: -1em;
        margin-left: -1em;
        margin-right: -1em;
    }
    @media screen and (max-width: 600px) {
        .headerpic {
            grid-column: 1/4;
            padding-bottom: 10px;
        }
    }
    .cv_content {
        padding-left: 20px;
        grid-column: 1/3;
        grid-row: 2;
        padding-right: 20px;
    }
    .cv_skills {
        padding-left: 20px;
        grid-column: 3;
        grid-row: 2;
        padding-right: 20px;
        background-color: #cde4f4;
    }
    .garden {
        grid-column: 1/4;
        grid-row: 2;
    }
    .stitch {
        grid-column: 1/4;
        grid-row: 3;
    }
    .coffee {
        grid-column: 1/4;
        grid-row: 4;
    }
    .row {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .modal {
        padding-top: 160px;
        margin-left: -50px;
    }
    .modal-content {
        width: 30%;
    }
    @media screen and (max-width: 1000px) {
        .modal-content {
            width: 90%;
            margin-left: 10px;
        }
        .row>.col {
            padding: 0 8px;
        }
        p {
            text-align: center;
        }
        .cv_paras {
            text-align: left;
        }
        .cv_skills {
            margin-bottom: 50px;
            padding-bottom: 40px;
        }
    }
}